*{
font-family: 'Roboto' sans-serif;
}
img.logo {
border-radius: 50%;
margin-top: 20px;
margin-left: 20px;
}
.first {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.navbar ul {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-right: 200px;
margin-top: 35px;
}
.navbar ul li {
list-style: none;
}
.navbar ul a {
color: black;
}
.navbar ul a:hover {
border: 1px solid #FEA303;
border-radius: 8px;
color: white;
}
strong.p1 {
color: #FEA303;
font-size: 24px;
}
.welcome {
width: 35%;
margin-top: 150px;
margin-left: 20px;
}
input.bttn {
position: relative;
border: 1px solid #FEA303;
border-radius: 50px 0px;
color: white;
background-color: #FEA303;
width: 150px;
height: 30px;
margin-top: 40px;
margin-left: 50px;
}
.icons {
display: flex;
justify-content: space-between;
margin-top: 20px;
margin-left: 50px;
height: 34px;
width: 25%;
}
.second {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.zero {
background: linear-gradient(106.24deg, rgba(229, 229, 229, 0.5) 30.58%, rgba(5, 0, 255, 0.5) 52.9%);
}
.about {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 40px;
background-color: #EFF6FC;
}
.about h2 {
margin-top: 120px;
margin-left: 100px;
}
.edu p {
margin-right: 70px;
margin-top: 30px;
align-items: center;
}
.about h2:hover {
cursor: pointer;
text-decoration-line: underline;
text-decoration-color: #FEA303;
text-decoration-style: solid;
text-decoration-thickness: 5px;
}
input.cv {
border: 1px solid #FEA303;
border-radius: 8px;
background: transparent;
padding: 8px;
margin-left: 120px;
margin-top: 50px;
margin-bottom: 50px;
}
.projects {
margin-top: 30px;
}
.projects h2:hover {
cursor: pointer;
text-decoration-line: underline;
text-decoration-color: #FEA303;
text-decoration-style: solid;
text-decoration-thickness: 5px;
}
.projects h2 {
text-align: center;
}
.burger {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.burger p {
margin-right: 100px;
}
.insurance {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 40px;
}
.insurance p {
margin-right: 125px;
}
.quiz {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 40px;
}
.quiz p {
margin-right: 65px;
}
.digifua {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 40px;
}
.digifua p{
margin-right: 150px;
}
