img.logo {
border-radius: 50%;
margin-top: 20px;
margin-left: 20px;
}
.first {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.navbar ul {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-right: 200px;
margin-top: 35px;
}
.navbar ul li {
list-style: none;
}
.navbar ul a {
color: black;
}
.navbar ul a:hover {
border: 1px solid #FEA303;
border-radius: 8px;
color: white;
}
strong.p1 {
color: #FEA303;
font-size: 24px;
}
.welcome {
width: 35%;
margin-top: 150px;
margin-left: 20px;
}
input.bttn {
position: relative;
border: 1px solid #FEA303;
border-radius: 50px 0px;
}